<a href="https://colab.research.google.com/github/gar1ma/DA-Experiments/blob/main/DA_Lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importing required libraries.
import pandas as pd
import numpy as np
#import seaborn as sns #using seaborn library for visualisation
#import matplotlib.pyplot as plt #visualisation
#from matplotlib import pyplot as plt
#data used: dft-road-casualty-statistics-accident-provisional-mid-year-unvalidated-2021
#https://data.gov.uk/dataset/cb7ae6f0-4be6-4935-9277-47e5ce24a11f/road-safety-data
%matplotlib inline 
sns.set(color_codes=True)

In [ ]:
df = pd.read_csv("dataforlab2.csv") #reading the data
df.head(5) # To display the top 5 rows

        status accident_index  ...  trunk_road_flag lsoa_of_accident_location
0  Unvalidated  2021010287148  ...               -1                        -1
1  Unvalidated  2021010287149  ...               -1                        -1
2  Unvalidated  2021010287151  ...               -1                        -1
3  Unvalidated  2021010287155  ...               -1                        -1
4  Unvalidated  2021010287157  ...               -1                        -1

[5 rows x 37 columns]

In [ ]:
df.shape

(42358, 37)

In [ ]:
df.dtypes

status                                          object
accident_index                                  object
accident_year                                    int64
accident_reference                              object
location_easting_osgr                          float64
location_northing_osgr                         float64
longitude                                      float64
latitude                                       float64
police_force                                     int64
accident_severity                                int64
number_of_vehicles                               int64
number_of_casualties                             int64
date                                            object
day_of_week                                      int64
time                                            object
local_authority_district                         int64
local_authority_ons_district                    object
local_authority_highway                         object
first_road_class                                 int64
first_road_number                                int64
road_type                                        int64
speed_limit                                      int64
junction_detail                                  int64
junction_control                                 int64
second_road_class                                int64
second_road_number                               int64
pedestrian_crossing_human_control                int64
pedestrian_crossing_physical_facilities          int64
light_conditions                                 int64
weather_conditions                               int64
road_surface_conditions                          int64
special_conditions_at_site                       int64
carriageway_hazards                              int64
urban_or_rural_area                              int64
did_police_officer_attend_scene_of_accident      int64
trunk_road_flag                                  int64
lsoa_of_accident_location                        int64
dtype: object

In [ ]:
df.count()

status                                         42358
accident_index                                 42358
accident_year                                  42358
accident_reference                             42358
location_easting_osgr                          41789
location_northing_osgr                         41789
longitude                                          0
latitude                                           0
police_force                                   42358
accident_severity                              42358
number_of_vehicles                             42358
number_of_casualties                           42358
date                                           42358
day_of_week                                    42358
time                                           42358
local_authority_district                       42358
local_authority_ons_district                   42358
local_authority_highway                        42358
first_road_class                               42358
first_road_number                              42358
road_type                                      42358
speed_limit                                    42358
junction_detail                                42358
junction_control                               42358
second_road_class                              42358
second_road_number                             42358
pedestrian_crossing_human_control              42358
pedestrian_crossing_physical_facilities        42358
light_conditions                               42358
weather_conditions                             42358
road_surface_conditions                        42358
special_conditions_at_site                     42358
carriageway_hazards                            42358
urban_or_rural_area                            42358
did_police_officer_attend_scene_of_accident    42358
trunk_road_flag                                42358
lsoa_of_accident_location                      42358
dtype: int64

In [ ]:
print(df.isnull().sum()) #to check if there are any missing or null values

status                                             0
accident_index                                     0
accident_year                                      0
accident_reference                                 0
location_easting_osgr                            569
location_northing_osgr                           569
longitude                                      42358
latitude                                       42358
police_force                                       0
accident_severity                                  0
number_of_vehicles                                 0
number_of_casualties                               0
date                                               0
day_of_week                                        0
time                                               0
local_authority_district                           0
local_authority_ons_district                       0
local_authority_highway                            0
first_road_class                                   0
first_road_number                                  0
road_type                                          0
speed_limit                                        0
junction_detail                                    0
junction_control                                   0
second_road_class                                  0
second_road_number                                 0
pedestrian_crossing_human_control                  0
pedestrian_crossing_physical_facilities            0
light_conditions                                   0
weather_conditions                                 0
road_surface_conditions                            0
special_conditions_at_site                         0
carriageway_hazards                                0
urban_or_rural_area                                0
did_police_officer_attend_scene_of_accident        0
trunk_road_flag                                    0
lsoa_of_accident_location                          0
dtype: int64

In [ ]:
df=df.dropna(axis=1) #Dropping the columns which has missing values; dropna() used to drop rows which have missing values
df.count()

status                                         42358
accident_index                                 42358
accident_year                                  42358
accident_reference                             42358
police_force                                   42358
accident_severity                              42358
number_of_vehicles                             42358
number_of_casualties                           42358
date                                           42358
day_of_week                                    42358
time                                           42358
local_authority_district                       42358
local_authority_ons_district                   42358
local_authority_highway                        42358
first_road_class                               42358
first_road_number                              42358
road_type                                      42358
speed_limit                                    42358
junction_detail                                42358
junction_control                               42358
second_road_class                              42358
second_road_number                             42358
pedestrian_crossing_human_control              42358
pedestrian_crossing_physical_facilities        42358
light_conditions                               42358
weather_conditions                             42358
road_surface_conditions                        42358
special_conditions_at_site                     42358
carriageway_hazards                            42358
urban_or_rural_area                            42358
did_police_officer_attend_scene_of_accident    42358
trunk_road_flag                                42358
lsoa_of_accident_location                      42358
dtype: int64

In [ ]:
duplicate_rows_df = df[df.duplicated()]
print("number of duplicate rows: ", duplicate_rows_df.shape)
#no duplicate rows are present so we don't need to use the drop command for this

number of duplicate rows:  (0, 33)

In [ ]:
df.describe()
#The describe() method is used for calculating some statistical data like percentile, mean and std of the numerical values of the Series or DataFrame. It analyzes both numeric and object series and also the DataFrame column sets of mixed data types.

       accident_year  police_force  ...  trunk_road_flag  lsoa_of_accident_location
count        42358.0  42358.000000  ...          42358.0                    42358.0
mean          2021.0     25.677062  ...             -1.0                       -1.0
std              0.0     23.882926  ...              0.0                        0.0
min           2021.0      1.000000  ...             -1.0                       -1.0
25%           2021.0      4.000000  ...             -1.0                       -1.0
50%           2021.0     20.000000  ...             -1.0                       -1.0
75%           2021.0     44.000000  ...             -1.0                       -1.0
max           2021.0     99.000000  ...             -1.0                       -1.0

[8 rows x 26 columns]

In [ ]:
df.info()
#The info() function is used to print a concise summary of a DataFrame. This method prints information about a DataFrame including the index dtype and column dtypes, non-null values and memory usage.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42358 entries, 0 to 42357
Data columns (total 33 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   status                                       42358 non-null  object
 1   accident_index                               42358 non-null  object
 2   accident_year                                42358 non-null  int64
 3   accident_reference                           42358 non-null  object
 4   police_force                                 42358 non-null  int64
 5   accident_severity                            42358 non-null  int64
 6   number_of_vehicles                           42358 non-null  int64
 7   number_of_casualties                         42358 non-null  int64
 8   date                                         42358 non-null  object
 9   day_of_week                                  42358 non-null  int64
 10  time                                         42358 non-null  object
 11  local_authority_district                     42358 non-null  int64
 12  local_authority_ons_district                 42358 non-null  object
 13  local_authority_highway                      42358 non-null  object
 14  first_road_class                             42358 non-null  int64
 15  first_road_number                            42358 non-null  int64
 16  road_type                                    42358 non-null  int64
 17  speed_limit                                  42358 non-null  int64
 18  junction_detail                              42358 non-null  int64
 19  junction_control                             42358 non-null  int64
 20  second_road_class                            42358 non-null  int64
 21  second_road_number                           42358 non-null  int64
 22  pedestrian_crossing_human_control            42358 non-null  int64
 23  pedestrian_crossing_physical_facilities      42358 non-null  int64
 24  light_conditions                             42358 non-null  int64
 25  weather_conditions                           42358 non-null  int64
 26  road_surface_conditions                      42358 non-null  int64
 27  special_conditions_at_site                   42358 non-null  int64
 28  carriageway_hazards                          42358 non-null  int64
 29  urban_or_rural_area                          42358 non-null  int64
 30  did_police_officer_attend_scene_of_accident  42358 non-null  int64
 31  trunk_road_flag                              42358 non-null  int64
 32  lsoa_of_accident_location                    42358 non-null  int64
dtypes: int64(26), object(7)
memory usage: 10.7+ MB

In [ ]:
df.sort_values(by="number_of_casualties", ascending=False).head()
#A DataFrame can be sorted by the value of one of the variables (i.e columns). For example, we can sort by Total day charge (use ascending=False to sort in descending order):

            status accident_index  ...  trunk_road_flag lsoa_of_accident_location
17900  Unvalidated  2021010315140  ...               -1                        -1
35176  Unvalidated  2021122100562  ...               -1                        -1
35372  Unvalidated  2021520101644  ...               -1                        -1
9787   Unvalidated  2021041017165  ...               -1                        -1
27238  Unvalidated  2021430160915  ...               -1                        -1

[5 rows x 33 columns]

In [ ]:
df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

accident_year                                  2021.000000
police_force                                     25.677062
accident_severity                                 2.768662
number_of_vehicles                                1.851150
number_of_casualties                              1.255347
day_of_week                                       4.141862
local_authority_district                          0.610085
first_road_class                                  4.224987
first_road_number                               767.720407
road_type                                         5.272534
speed_limit                                      35.532839
junction_detail                                   4.604018
junction_control                                  1.797417
second_road_class                                 5.557392
second_road_number                              219.690236
pedestrian_crossing_human_control                 0.387318
pedestrian_crossing_physical_facilities           1.185231
light_conditions                                  1.798149
weather_conditions                                1.645946
road_surface_conditions                           1.372421
special_conditions_at_site                        0.269182
carriageway_hazards                               0.202323
urban_or_rural_area                              -1.000000
did_police_officer_attend_scene_of_accident       1.453020
trunk_road_flag                                  -1.000000
lsoa_of_accident_location                        -1.000000
dtype: float64

In [ ]:
#to get the skew
df.skew(axis=1,skipna=True) #skipna=true ignores NaN values

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

0        5.097046
1        2.939547
2        4.964007
3        3.681858
4        5.098063
           ...
42353    5.078764
42354    3.980244
42355    5.079497
42356    4.392064
42357    4.178645
Length: 42358, dtype: float64

In [ ]:
df.max()

status                                           Unvalidated
accident_index                                 2021991097910
accident_year                                           2021
accident_reference                                 991097910
police_force                                              99
accident_severity                                          3
number_of_vehicles                                        11
number_of_casualties                                      10
date                                              31/05/2021
day_of_week                                                7
time                                                   23:59
local_authority_district                                 480
local_authority_ons_district                       W06000024
local_authority_highway                            W06000024
first_road_class                                           6
first_road_number                                       9176
road_type                                                  9
speed_limit                                               70
junction_detail                                           99
junction_control                                           9
second_road_class                                          6
second_road_number                                      9176
pedestrian_crossing_human_control                          9
pedestrian_crossing_physical_facilities                    9
light_conditions                                           7
weather_conditions                                         9
road_surface_conditions                                    9
special_conditions_at_site                                 9
carriageway_hazards                                        9
urban_or_rural_area                                       -1
did_police_officer_attend_scene_of_accident                3
trunk_road_flag                                           -1
lsoa_of_accident_location                                 -1
dtype: object

In [ ]:
df.min()

status                                           Unvalidated
accident_index                                 2021010287148
accident_year                                           2021
accident_reference                                 010287148
police_force                                               1
accident_severity                                          1
number_of_vehicles                                         1
number_of_casualties                                       1
date                                              01/01/2021
day_of_week                                                1
time                                                   00:00
local_authority_district                                  -1
local_authority_ons_district                       E06000001
local_authority_highway                            E06000001
first_road_class                                           1
first_road_number                                          0
road_type                                                  1
speed_limit                                               -1
junction_detail                                            0
junction_control                                          -1
second_road_class                                          1
second_road_number                                         0
pedestrian_crossing_human_control                         -1
pedestrian_crossing_physical_facilities                   -1
light_conditions                                           1
weather_conditions                                         1
road_surface_conditions                                   -1
special_conditions_at_site                                -1
carriageway_hazards                                       -1
urban_or_rural_area                                       -1
did_police_officer_attend_scene_of_accident               -1
trunk_road_flag                                           -1
lsoa_of_accident_location                                 -1
dtype: object

In [ ]:
df.std()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

accident_year                                     0.000000
police_force                                     23.882926
accident_severity                                 0.450651
number_of_vehicles                                0.679594
number_of_casualties                              0.638019
day_of_week                                       1.945054
local_authority_district                         24.539069
first_road_class                                  1.463470
first_road_number                              1562.741855
road_type                                         1.706751
speed_limit                                      13.944774
junction_detail                                  14.524680
junction_control                                  2.534548
second_road_class                                 1.016775
second_road_number                              925.149555
pedestrian_crossing_human_control                 1.781788
pedestrian_crossing_physical_facilities           2.456951
light_conditions                                  1.592118
weather_conditions                                1.818053
road_surface_conditions                           1.003806
special_conditions_at_site                        1.379915
carriageway_hazards                               1.230999
urban_or_rural_area                               0.000000
did_police_officer_attend_scene_of_accident       0.724252
trunk_road_flag                                   0.000000
lsoa_of_accident_location                         0.000000
dtype: float64

In [ ]:
#to print variance of each column
df.var()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

accident_year                                  0.000000e+00
police_force                                   5.703942e+02
accident_severity                              2.030862e-01
number_of_vehicles                             4.618481e-01
number_of_casualties                           4.070676e-01
day_of_week                                    3.783237e+00
local_authority_district                       6.021659e+02
first_road_class                               2.141745e+00
first_road_number                              2.442162e+06
road_type                                      2.912998e+00
speed_limit                                    1.944567e+02
junction_detail                                2.109663e+02
junction_control                               6.423936e+00
second_road_class                              1.033831e+00
second_road_number                             8.559017e+05
pedestrian_crossing_human_control              3.174768e+00
pedestrian_crossing_physical_facilities        6.036610e+00
light_conditions                               2.534839e+00
weather_conditions                             3.305316e+00
road_surface_conditions                        1.007627e+00
special_conditions_at_site                     1.904167e+00
carriageway_hazards                            1.515360e+00
urban_or_rural_area                            0.000000e+00
did_police_officer_attend_scene_of_accident    5.245416e-01
trunk_road_flag                                0.000000e+00
lsoa_of_accident_location                      0.000000e+00
dtype: float64

In [ ]:
df.median()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

accident_year                                  2021.0
police_force                                     20.0
accident_severity                                 3.0
number_of_vehicles                                2.0
number_of_casualties                              1.0
day_of_week                                       4.0
local_authority_district                         -1.0
first_road_class                                  4.0
first_road_number                                30.0
road_type                                         6.0
speed_limit                                      30.0
junction_detail                                   3.0
junction_control                                  2.0
second_road_class                                 6.0
second_road_number                                0.0
pedestrian_crossing_human_control                 0.0
pedestrian_crossing_physical_facilities           0.0
light_conditions                                  1.0
weather_conditions                                1.0
road_surface_conditions                           1.0
special_conditions_at_site                        0.0
carriageway_hazards                               0.0
urban_or_rural_area                              -1.0
did_police_officer_attend_scene_of_accident       1.0
trunk_road_flag                                  -1.0
lsoa_of_accident_location                        -1.0
dtype: float64

In [ ]:
df.mode()

            status accident_index  ...  trunk_road_flag lsoa_of_accident_location
0      Unvalidated  2021010287148  ...             -1.0                      -1.0
1              NaN  2021010287149  ...              NaN                       NaN
2              NaN  2021010287151  ...              NaN                       NaN
3              NaN  2021010287155  ...              NaN                       NaN
4              NaN  2021010287157  ...              NaN                       NaN
...            ...            ...  ...              ...                       ...
42353          NaN  2021991086794  ...              NaN                       NaN
42354          NaN  2021991088930  ...              NaN                       NaN
42355          NaN  2021991091927  ...              NaN                       NaN
42356          NaN  2021991093020  ...              NaN                       NaN
42357          NaN  2021991097910  ...              NaN                       NaN

[42358 rows x 33 columns]

In [ ]:
df.quantile([.1, .25, .5, .75], axis = 0)

      accident_year  police_force  ...  trunk_road_flag  lsoa_of_accident_location
0.10         2021.0           1.0  ...             -1.0                       -1.0
0.25         2021.0           4.0  ...             -1.0                       -1.0
0.50         2021.0          20.0  ...             -1.0                       -1.0
0.75         2021.0          44.0  ...             -1.0                       -1.0

[4 rows x 26 columns]